.react-tel-input {
  .MuiOutlinedInput-input {
    padding: 16.5px 14px 16.5px 54px !important;
    box-sizing: content-box;
  }
  .flag-dropdown {
    left: 10px;
  }
  .country-list {
    z-index: 999;
  }
}
