@page
@model ForgotPasswordModel

<link rel="stylesheet" href="~/css/identity/links.css" />
<link rel="stylesheet" href="~/css/identity/form.css" />

<div class="form_container">
    <h1>Восстановление пароля</h1>
    
    <form method="post">
        <div class="form-group">
            <input asp-for="Input.Email" class="form-control" placeholder="E-mail" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Восстановить</button>
        <div asp-validation-summary="All" class="text-danger"></div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
