@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Забыли подтверждение пароля";
}

<link rel="stylesheet" href="~/css/identity/form.css" />
<link rel="stylesheet" href="~/css/identity/links.css" />

<div class="form_container">
    <h1>@ViewData["Title"]</h1>

    <div class="form-group links separated">
        <p>Пожалуйста, проверьте свою электронную почту, чтобы сбросить пароль.</p>
    </div>
</div>
