@page
@model IndexHomeModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <div class="row">
        <div class="col-sm-8">
            <p>
                Информация о SSO
                <br />
                <a href="~/.well-known/openid-configuration">discovery document</a>
            </p>
        </div>
        <div class="col-sm-8">
            <p>
                Информация о клиенте о клиенте:
                <br />
                <a href="~/_configuration/spa">SPA</a>
            </p>
        </div>
    </div>
</div>
