:root {
  --main-color: #7e004a;
  --main-color-focus: #7e0014;
}

body,
html {
  height: 100%;
  margin: 0;
  min-height: 100%;
  padding: 0;
  position: relative;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(250, 250, 250);
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 20px;
  font-weight: 400;
}

a {
  color: var(--main-color);
}

a:hover {
  color: var(--main-color);
}

#root {
  min-height: 100%;
}

.btn {
  display: block;
  width: 100%;
  text-transform: uppercase;
  font-size: 0.938rem;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: all linear 0.5s;
}

.btn.btn-primary {
  background-color: var(--main-color);
}

.btn.btn-primary:focus {
  background-color: var(--main-color-focus) !important;
  box-shadow: 0px 0px 5px var(--main-color) !important;
}

.text-danger ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar {
  padding: 0;
  margin: 0;
  border: 0 !important;
  max-width: 100%;
  height: 80px;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid rgb(245, 245, 245);
}

.navbar .navbar-nav {
  height: 80px;
}

.navbar .container {
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 100%;
  height: 80px;
}

.navbar .navbar-collapse {
  height: 80px;
  display: flex;
  align-items: flex-start;
}

.navbar .logo {
  height: 70px;
  width: auto;
  margin-left: -20px;
}

.navbar .nav-link {
  padding: 0 !important;
}

.navbar .navbar-links {
  display: flex;
  padding: 0;
  list-style: none;
  height: 100%;
  align-items: center;
  margin: 0px 16px 0px 24px;
}

.navbar .navbar-links a {
  margin-left: 16px;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

.navbar .navbar-links a:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  height: 80px;
  background: #fff;
  border-top: 1px solid rgb(245, 245, 245) !important;
}

footer .container {
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 100%;
  height: 80px;
}

footer .container .logo {
  margin: 0;
  padding: 0;
  height: 80px;
  display: inline-block;
  width: auto !important;
  margin-left: -20px;
}

.toast-container {
  position: fixed;
  right: 20px;
  top: 20px;
}

.toast:not(.showing):not(.show) {
  display: none !important;
}

.modal-tip {
  font-size: 110%;
}