.form_container {
  width: 50%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 48px;
}

.form_container .email_enter_title {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 10;
}

.error {
  color: red;
}

.form_container .email_enter_title span {
  text-align: center;
  position: relative;
  background: #fafafa;
  padding: 0 10px;
  display: inline-block;
  font-size: 60%;
  font-weight: normal;
}

.form_container .email_enter_separator {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  top: -15px;
}

.form input[type="text"],
.form input[type="password"],
.form input[type="email"] {
  font-size: 1rem;
  padding: 16px 12px;
  height: inherit;
  border: 1px solid rgba(0, 0, 0, 0.23);
}

.form input[type="text"]:focus,
.form input[type="password"]:focus,
.form input[type="email"]:focus {
  box-shadow: 0px 0px 5px var(--main-color);
  border: 1px solid rgba(0, 0, 0, 1);
}

.form input.input-validation-error {
  border-color: red;
}

.text-danger {
  font-size: 90%;
  margin-bottom: 1rem;
}

.checkbox {
  line-height: 120%;
}

.checkbox label {
  font-size: 1rem;
  cursor: pointer;
}

.checkbox.small label {
  font-size: 100%;
}

.checkbox .mandatory {
  position: absolute;
  color: red;
  top: -5px;
  left: -11px;
}

@media (max-width: 900px) {
  .checkbox a {
    display: block;
    margin-top: 2px;
    margin-left: 23px;
  }

  .checkbox label {
    display: block !important;
    position: relative;
  }
}

.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.checkbox label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--main-color);
  margin-right: 0.8em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.checkbox input:checked + label::before {
  background-size: 100% 100%;
  color: #fff;
  background-color: #fff;
  border: 0;
  background-image: url("data:image/svg+xml;base64, PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE2IDBIMkMwLjg5IDAgMCAwLjkgMCAyVjE2QzAgMTcuMSAwLjg5IDE4IDIgMThIMTZDMTcuMTEgMTggMTggMTcuMSAxOCAxNlYyQzE4IDAuOSAxNy4xMSAwIDE2IDBaTTcgMTRMMiA5TDMuNDEgNy41OUw3IDExLjE3TDE0LjU5IDMuNThMMTYgNUw3IDE0WiIgZmlsbD0iIzdFMDA0QSIvPgo8L3N2Zz4K");
}

.form-group.separated {
  padding-bottom: 22px;
}

@media (max-width: 641px) {
  .form_container {
    width: 90%;
  }

  .navbar-toggler {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .navbar .navbar-nav {
    background-color: #fff;
    height: auto;
  }

  .navbar .navbar-links {
    position: absolute;
    right: 10px;
    top: 60px;
    height: auto;
    display: none;
  }

  .navbar-collapse.show .navbar-nav .navbar-links {
    display: block !important;
    background-color: #fff;
  }

  .navbar-collapse.show .navbar-nav .navbar-links li {
    padding-bottom: 1rem;
  }
}

@media (max-width: 1000px) {
  .form_container {
    width: 90%;
  }
}

.form-group.agreement {
  position: relative;
}

.form-group.agreement label {
  display: inline;
}
