.container {
  &.noData {
    width: 100%;
    .content {
      width: 100%;
      grid-template-columns: 1fr 203px;
    }
  }
  .content {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 203px;
    gap: 15px;

    @media screen and (max-width: 1200px) {
      display: flex;
      flex-direction: column-reverse;
    }

    .tableWrapper {
      background-color: #fff;
      padding: 27px 37px 38px;
      border-radius: 20px;

      @media screen and (max-width: 800px) {
        width: 100%;
        padding: 15px 20px;
      }
      h2 {
        color: #1e1e1e;
        font-size: 20px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 25px;
        @media screen and (max-width: 800px) {
          margin-bottom: 15px;
          text-align: center;
        }
      }
      .tableContainer {
        overflow: auto;
        .noData {
          width: 100%;
          color: #1e1e1e;
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          padding: 18px 0;
          border-top: 1px solid #eee;
          border-bottom: 1px solid #eee;
        }
        &::-webkit-scrollbar {
          width: 3px;
          height: 3px;
        }
        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 5px #aa9a78;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
          background: #c39f54;
          border-radius: 10px;
        }
        table {
          width: 100%;
          max-width: 100%;
          table-layout: fixed;
          @media screen and (max-width: 1200px) {
            colgroup {
              col {
                &:nth-child(1) {
                  width: 75px;
                }
                &:nth-child(2) {
                  width: 75px;
                }
                &:nth-child(3) {
                  width: 120px;
                }
              }
            }
          }
          thead {
            tr {
              th {
                padding: 22px 0;

                border-top: 1px solid #eee;
                border-bottom: 1px solid #eee;
                p {
                  text-align: left;
                  color: #000;
                  font-size: 16px;
                  font-weight: 400;
                  @media screen and (max-width: 800px) and (min-height: 640px) {
                    font-size: 14px;
                  }
                  @media screen and (max-width: 640px) {
                    font-size: 12px;
                  }
                  span {
                    display: inline-block;
                  }
                }
              }
            }
          }
          tbody {
            tr {
              td {
                border-bottom: 1px solid #eee;
                padding: 22px 0;
                text-wrap: wrap;
                @media screen and (max-width: 800px) and (min-height: 640px) {
                  font-size: 14px;
                }
                @media screen and (max-width: 640px) {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
    .buttonWrapper {
      .buyButton {
        padding: 18px 24px;
        color: #fff;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        border-radius: 5px;
        background: #be8b20;
        text-transform: none;
        @media screen and (max-width: 640px) {
          font-size: 14px;
          padding: 10px 20px;
        }
      }
    }
  }
}
