.formGroup {
  width: 100%;
  max-width: 100%;

  :global {
    .MuiTextField-root {
      width: 100%;
      max-width: 100%;

      &::after {
        content: "*";
        position: absolute;
        right: 16px;
        top: 8px;
        color: #c39f54;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      label {
        left: 10px;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;

        &.Mui-error {
          color: #d32f2f !important;
        }

        &.MuiFormLabel-filled {
          color: #bfbfbf;
          font-size: 10px;
          font-weight: 700;
        }

        &.Mui-focused {
          color: #000;
          font-size: 10px;
          font-weight: 700;
        }
      }
    }

    .MuiInputBase-root {
      border-radius: 0;
      position: relative;
      width: 100%;
      max-width: 100%;

      &::before {
        content: none;
        background-color: transparent;
      }

      &::after {
        content: " ";
        width: 5px;
        height: 100%;
        position: absolute;
        left: 0;
        background-color: #2f5549;
        border-radius: 0 5px 5px 0;
        display: block;
        border-bottom: 0;
        bottom: 0;
      }

      &.Mui-focused {
        input {
          color: #000;
        }
      }

      input {
        padding-left: 21px;
        height: 1.1em;
        background-color: #fff;
        color: #bfbfbf;
        border: 1px solid #eee;
      }
    }
  }
}
