body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.body {
  background-image: url(../img/login-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  display: flex;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  max-width: 500px;
  padding: 30px;
  flex-direction: column;
  margin: 0 auto;
  /* justify-content: space-between; */
  display: flex;
}

.logo {
  width: 100px;
  height: 100px;
  margin: auto;
}

.auth-header {
  color: white;
  margin: 30px 0;
  /* margin-bottom: 50px; */
}

.auth-header h1 {
  font-size: 50px;
  margin: 0 0 10px;
  line-height: 1;
}

.auth-header h2 {
  font-size: 20px;
  margin: 0;
  line-height: 1;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  color: white;
  margin-bottom: 0;
}

.input-group input {
  width: 100%;
  border: none;
  border-radius: 0;
  background-color: transparent;
  border-bottom: 1px solid #BBBBBB;
  color: white;
  padding: 15px 0 ;
  font-size: 16px;
}

.input-group .error {
  visibility: hidden;
}

.input-group input::placeholder {
  color: #999999;
}

.input-group input:-internal-autofill-selected {
  background-color: transparent !important;
}

.input-group input:focus {
  outline: none;
  /* border: none; */
}

.auth-bottom {
  display: flex;
  justify-content: flex-end;
}

.auth-bottom a {
  color: #ACACAC;
}

.auth-button {
  width: 100%;
  background-color: #FF9600;
  color: white;
  text-align: center;
  padding: 14px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 25px;
}

.auth-additional-header {
  color: #B0B0B0;
  text-align: center;
  margin-bottom: 16px;
}

.social-buttonss {
  margin-top: 30px;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.social-buttonss button {
  background: transparent;
  border: none;
  padding: 0;
}

.social-buttonss button:focus, .social-buttonss button:hover {
  outline: none;
  background: none;
}

.social-buttonss img {
  margin: 0 20px;
}

.auth-footer {
  text-align: center;
  margin-top: 30px;
}
.auth-footer span {
  color: #BABABA;
}

.auth-footer a {
  margin-left: 10px;
  color: #FF9600;
  text-decoration: underline;
}