.singleProduct {
  padding: 32px 50px 13px 50px;
  background-color: #fff;
  width: 100%;
  max-width: 100%;
  border-radius: 20px;
  .productName {
    margin-top: 18px;
    * {
      color: #1e1e1e;
      font-size: 24px;
      font-weight: 700;
    }
  }
  .productActions {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    @media only screen and (max-width: 640px) {
      margin-bottom: 30px;
      flex-direction: column-reverse;
      gap: 12px;
    }
    button {
      border: 0;
      outline: 0;
      background-color: #be8b20;
      padding: 12px 23px;
      border-radius: 5px;
      color: #fff;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      max-width: 220px;
      width: 100%;
      cursor: pointer;
      &:first-child {
          background-color: #404040;
        }
    }
  }
  .productDescription {
    margin-top: 17px;
  }
}
